:root{
    --color1: #fff;
    --Gradient1: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    --Gradient2: linear-gradient(315deg, #308383, #399c9b);
    --hFontS: 4rem;
    --pfontS: 2rem;
    --hFontFam: 'Croissant One', cursive;
    --pFontFam: 'Kanit', sans-serif;
    --btnFontS: 1.2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#section1{
    background-color: var(--Gradient2);
    height: 30rem;
}